@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Classes utilitarias */
.text-primary {
    color: #ff1e00;
}

.text-center {
    text-align: center;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

/* Botoes */
.btn {
    display: inline-block;
    color: #fff;
    background-color: #ff1e00;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #ca1800;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

/* Backgrounds */
.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-primary {
    background-color: #ff1e00;
    color: #fff;
}

/* Paddings */
.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}


/* Navbar */
#navbar {
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background-color: #ff1e00;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: #333 url("../images/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Sobreposicao */
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

/* Secção: O que nós fazemos */
#services .items {
    display: flex;
    padding: 1rem;
}

#services .items .item {
    text-align: center;
    padding: 1rem;
}

#services .items .item i {
    background-color: #ff1e00;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Secção: Quem somos nós */
#about {
    display: flex;
}

#about div {
    flex: 1;
}

#about .about-img {
    background: #333 url("../images/team.jpg") no-repeat center center/cover;
}

/* Secção: Clients */
#clients .items{
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}

/* Secção de Contactos e Localização */
#contact {
    display: flex;
}

#contact .map,
#contact .contact-form {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

/* Adicionei o botao p/submeter o formulário */
#contact .contact-form button {
    margin-left: 0.75rem;
}

/* Map */
.map {
    position: relative;
    text-align: right;
    width: 100%;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
  }
  .gmap_iframe {
    width: 100%;
    height: 100%;
  }